$main-color: #f58e6a;
$green: #50c150;
$danger: #f56a6a;
$tab-bg: #222222;
$blue: #283977;
$hover-dropdown: #ffe9e1;
$disabled: #e0e0e0;

$white: #fff;
$content1: #1c1c1c;
$content2: #585757;
$content3: #969696;
$icon: #969696;
$border-color: #e8e6e6;
$border-thin: #edeff4;

$side-desktop: 256px;
$side-mobile: 84px;
